<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../css/login-register.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <main>
        <section id="login">
            <div id="image"></div>

            <div id="forms">
                <h1>Registrer</h1>
                <p>Hello, are you new here? Sign up now below!</p>

                <form action="../../app/Models/creatUsers.php" method="post" autocomplete="on">
    
                    <div class="camp">
                        <label for="iusername"><span class="material-icons">person</span></label>

                        <input type="text" name="username" id="iusername" placeholder="Your first Name" required autocomplete="name" maxlength="75" minlength="4" class="btn" pattern="^[A-Za-z]{3,50}$">
                    </div>

                    <div class="camp">
                        <label for="ilogin"><span class="material-icons">account_circle</span></label>
                        <input type="email" name="create-email" id="ilogin" placeholder="Enter your E-mail" required autocomplete="email" maxlength="100" class="btn" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
>
                    </div>

                    <div class="camp">
                        <label for="ipassword"><span class="material-icons">vpn_key</span></label>
                        <input type="password" name="create-password" id="ipassword" placeholder="Create your Password" required autocomplete="current-password" minlength="8" maxlength="20" class="btn">
                    </div>

                    <input type="submit" value="Register">
                    <p id="min-bottom">You have an account? <a href="login.html">Login here!</a></p>

                    </form>
        </section>
    </main>
</body>
</html>